//Text Optimization
//=========================================================
// HTML.chrome.win { -webkit-text-stroke: 0.9px; }

//Media Query to handle fonts for Chrome on WinXX
//=========================================================

@btn-search-background:	#39978C;
@btn-search-border:		darken(#39978C, 8%);

@btn-filter-background: #fff;
@btn-filter-border:		#fff;

@btn-filteractive-background:	@btn-search-background;
@btn-filteractive-border:		@btn-search-border;


//Media Query to handle fonts for Chrome on WinXX
//=========================================================
@media screen and (-webkit-min-device-pixel-ratio:0) {

	@font-face {
		font-family: 	ProximaNovaRegular;
		src: 			url('../../fonts/proxima-nova-regular.svg') format('svg');
	}

	@font-face {
		font-family: 	ProximaNovaSemibold;
		src: 			url('../../fonts/proxima-nova-semibold.svg') format('svg');;
	}

	@font-face {
		font-family: 	ProximaNovaItalic;
		src: 			url('../../fonts/proxima-nova-regular-italic.svg') format('svg');
	}
}


//Navbar
//=========================================================

.navbar-osi{
	background-color: 	@nav-fill;
	color: 				@nav-text;
}
.nav-links-osi{

}
.nav-link-osi{
		>li{
			>a{
			&:link{
				color: 		#fff;
			}
			&:hover{
				color: 				darken(#fff, 10%);
				text-decoration: 	none;
				background-color: 	darken(@nav-fill, 10%);
			}
			&:visited{
				color: 		#fff;
			}
			&:active{
				color: 		#fff;
			}	
		}
	}
}

.navbar-brand{
	color: 			#fff;
	font-family: 	ProximaNovaSemibold;
		
	&:link{
		color: 		#fff;
	}
	&:hover{
		color: 				darken(#fff, 10%);
		text-decoration: 	none;
	}		
}

.page-header{
	margin-top:		-10px;
	padding-bottom:	0px;
	border-bottom: 	0px;
		font-size: 	ceil(@font-size-base * 1.6);
			color: 	#555;

}

.osi-sub-header{
	margin-left: -15px;
}

.pdf-print-email{
	list-style: none;
	margin-top: 28px;
	
	li{
		display: 	inline-block;
		float: 		left;
		padding: 	2px 4px;
	}

	.pull-right;
}

p, li{
	text-align:		justify; 
	text-justify: 	inter-word;
}

.balance-text {
    text-wrap: 		balanced;
}


.btn-search{
	border-radius: 	0px;
	margin-left:  	-6px;
	.button-variant(#fff, @btn-search-background, @btn-search-border);
}




//Custom Font definitions for Bold and Italics
//=========================================================
b, strong{
	font-family: 	ProximaNovaSemibold;
	font-weight: 	normal !important;
}

i{
	font-family: 	ProximaNovaItalic;
	font-weight: 	normal;
	font-style: 	normal !important;
}

.glyphicon-play{
	font-size: 		0.7em;
	color: 			#888;
	padding-left: 	5px;
}

.glyphicon-home{
	font-size: 		0.8em;
	color: 			#333;

}

.breadcrumb{
	padding: 		8px 15px 0px 0px;
}

.form-control{
	border-radius: 	0px;
	border: 		1px solid #39978C;
}


//List stylings for Webkit browsers : Need to make the padding start 0px for these browsers and add padding as and when required.
//==========================================================

.osi-filter-container{
	position: relative;
	z-index: 100;
}

.osi-filter-ul{
	list-style: none; 
	display: block; 
}

ul{
	-webkit-padding-start: 0px;
	padding-left: 0px;
}

.btn-filter{
	padding: 6px 4px;
	.button-variant(#769cb1, @btn-filter-background, @btn-filter-border);
}

.osi-filteractive-button{
	.button-variant(#fff, @btn-filteractive-background, @btn-filteractive-border);
}

@osi-landing-padding: 	40px;

.osi-family-padding{
	padding-top: 		@osi-landing-padding;
}

.osi-second-line{
	padding-top: 		ceil(@osi-landing-padding/2);
}

.osi-landing-tile{
	width: 		85%;
	p{
		text-align:		initial; 
	}
}

.category-icons{
	width: 			46px;
	height: 		auto;
	padding-right: 	10px;
	margin-top: 	-5px;
}


//Fix for footer to the bottom of the page
//==========================================================

html, body{
	height: 		100%;
}

.wrap{
	min-height: 		100%;
}

.main{
	overflow:		auto;
	padding-bottom: 260px;

}

.main-position{
	position:	relative;
	top: 		-50px;
}

//Table Styling
//==========================================================

.table-row-variant(prerelease;#fff);

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td{
	border-top: 0px;
}

.table > thead > tr > th,
.table > thead > tr > td{
	border-bottom:	1px solid #dddddd;
}


.prerelease-header{
	padding: 	2px 4px;
	color: 		#fff;
	background-color: #D9849D;
}

.osi-product-version{
	tr{
		a {
			color: 		@gray-dark;
		    display:	block;
		    width:		305%;
		    position:	relative;
		    z-index:	10;
		}
		a:hover{
			text-decoration: none;
		}
	}
}

