.footer{
	color: 				#fff;
	position: 			relative;
	margin-top: 		-232px;
	padding:			35px 0 35px 0;
	// bottom: 			0px;
	width: 				100%;
	height: 			232px;
	background-color: 	#0780A4;



}

.footer-link{
	>li{
		list-style-type: 	none;
		margin: 			0px;
		padding:			0px;
		>a{
			&:link{
				color: 		#fff;
			}
			&:hover{
				color: 				darken(#fff, 10%);
				text-decoration: 	none;
				background-color: 	darken(@nav-fill, 10%);
			}
			&:visited{
				color: 		#fff;
			}
			&:active{
				color: 		#fff;
			}
		}
	}
}

